extends layout

block content
  div(style="text-align: center;")
    h1 #{gameBook.title}
    h2 #{pageTitle}
    p #{pageText}
    each option, i in pageOptions
      form(action=".", method="get")
        input(type="hidden", name="path", value="#{option.link}")
        button(class="btn btn-small btn-primary" type="submit") #{option.text}
    form(action="../view", method="get")
      button(class="btn btn-small btn-primary" type="submit") Back to home screen
