extends layout

block content
  div(style="text-align: center;")
    h1= title
  table(class="table table-striped")
    thead
      tr
        th Id
        th Title
        th Author(s)
        th Description
        th Pages
        th Date
        th Views
        th Read
        th Edit
        th Update
    tbody
      each gameBook, i in gameBookListing
        tr
          td #{gameBook.id}
          td #{gameBook.title}
          td #{gameBook.author}
          td #{gameBook.description}
          td #{gameBook.pageCount}
          td #{gameBook.dateCreated}
          td #{gameBook.views}
          td
            form(action="read/#{gameBook.id}", method="get")
              button(class="btn btn-small btn-primary" type="submit") Read
          td
            form(action="edit/#{gameBook.id}", method="get")
              button(class="btn btn-small btn-primary" type="submit") Edit
          td
            form(action="delete/#{gameBook.id}", method="get")
              button(class="btn btn-small btn-primary" type="submit" disabled) Delete
      tr
        form(action="create", method="post")
          input(type="hidden", name="type", value="gamebook")
          td
          td
            input(type="text", name="title")
          td
            input(type="text", name="author")
          td
            input(type="text", name="description")
          td
          td
          td
          td
            button(class="btn btn-small btn-primary", disabled) Read
          td
            button(class="btn btn-small btn-primary", disabled) Edit
          td
            button(class="btn btn-small btn-primary" type="submit") Create